img{
    width: 200px;
    height: 200px;
    background: #d7d7d7;
}

.contain{ 
    object-fit: contain;
}	

.fill{ 
    object-fit: fill;
}

.cover{ 
    object-fit: cover;
}

.scale-down{ 
    object-fit: scale-down;
}